#firstdiv{
	margin-left: 25px;
}
#Cmarge1{
	border: solid 5px black;
	background-color: grey;
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 50px;
	padding-bottom: 50px;
}
#Cmarge2{
	border: solid 5px black;
	background-image: url("index.jfif");
	margin-left: 25px;
	margin-right: 25px;
	margin-top: 25px;
	margin-bottom: 25px;

}
